<div class="top-element-wrapper">
  <span class="mr-2 font-weight-bold">Your short url is:</span>
  <span class="disabled-input"><%=@service_url%></span>
  <div class="js-copy-url d-inline-block" data-toggle="tooltip"
       data-placement="bottom"
       data-revert-title="Copied"
       data-copy-url="<%=@service_url%>"
       title="Copy url">
    <i class="fa ml-1 fa-icon fa-copy"></i>
  </div>

  <div class="mt-1">
    <small>
      This url will lead to: <%=@saved_url.url%>
    </small>
  </div>

  <div class="mt-3">
    <%= button_to 'Generate QR',
        qrs_path(url: @service_url),
        form: { id: 'receive-qr' },
        class: 'btn btn-secondary',
        remote: true %>
    <div id="qr-image-wrapper"></div>
  </div>
</div>
<hr>

<%= render 'form', url_label: true %>
